* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* the last line is necessary */
}

body {
  background-color: #cac7c7;
  font-family: Helvetica;
}

.title {
  padding: 20px;
  text-align: center;
  font-size: 50px;
}

.det-01 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 80px;
}

.box-1 {
  background: rgb(231, 231, 231);
  color: rgb(0, 0, 0);
  font-size: 6rem;
  width: 20%;
  margin-left: 40%;
  text-align: center;
  align-content: center;
  border-style: dashed;
  border-width: 5px;
}

.M1 {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.M2 {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-01 {
  /* padding: 10px; */
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.section-02 {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.section-03 {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.section-04 {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.input-01 {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
}

.btn {
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
}
.txt {
  font-size: 20px;
  padding: 0.5rem;
}

.pp {
  text-align: right;
}

.btn-02 {
  justify-content: center;
  width: 150px;
  height: 50px;
  font-size: large;
  padding: 10px;
  margin: 20px;
}
